<!DOCTYPE html>
<html lang="en">
<%- include('./shared/head.ejs') %>

    <body>
        <%- include('./shared/header.ejs') %>
            <main>
                <section class="products-section">
                    <div class="container" style="display: flex; align-items: center; justify-content: center;">
                 <h1 style="min-height: 70vh;">Server Error</h1>
                    </div>
                </section>
            </main>
            <%- include('./shared/footer.ejs') %>
    </body>

</html>