<!DOCTYPE html>
<html lang="en">
<% locals.pageStyles.push("/styles/pages/createProduct.css") %>
    <%- include('./shared/head.ejs') %>

        <body>
            <%- include('./shared/header.ejs') %>
                <section>
                    <div class="container">
                        <h1>Create New Product</h1>
                        <p>Create new product that will be saved to the database</p>
                        <form method="post" action="" class="add-product-form">
                            <div class="form-input-div">
                                <label class="form-label" for="product-name">Product Name:</label>
                                <input type="text" id="product-name" class="form-text-input" name="name" >
                            </div>
                            <div class="form-input-div">
                                <label class="form-label" for="category-id">Category Id</label>
                                <input class="form-text-input" type="number" id="category-id" name="categoryId">
                            </div>
                            <div class="form-input-div">
                                <label class="form-label" for="product-stock">Product Stock</label>
                                <input class="form-text-input" type="number" id="product-stock" name="stock">
                            </div>
                            <div class="form-input-div">
                                <label class="form-label" for="product-price">Product Price (€)</label>
                                <input class="form-text-input" type="number" id="product-price" name="price">
                            </div>
                            <button class="default-btn" type="submit">Add Product</button>

                        </form>
                    </div>
                </section>
                <%- include('./shared/footer.ejs') %>
        </body>

</html>